/*Style for Section*/
.outerContainer {
  /*12-column-grid start*/
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  /*padding: 0 75px;*/
  grid-column-gap: 20px;
  /*12-column-grid end*/
}

.innerContainer {
  /*as child element*/
  grid-column: 3 / span 8;
  /*as container*/
}

@media screen and (max-width: 1200px) {
  .outerContainer {
    grid-template-columns: repeat(6, 1fr);
  }
  .innerContainer {
    /*as child element*/
    grid-column: 2 / -2;
    /*as container*/
    /*  will be specified in separate components*/
  }
}
