.container {
  /*12-column-grid start*/
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  padding: 0 75px;
  grid-column-gap: 20px;
  /*12-column-grid end*/
}

.list {
  list-style: none;
  display: flex;
}

.one {
  grid-column: 3 / 5;
}

.two {
  grid-column: 5 / 11;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  /* For mobile phones: */
  .list {
    display: none;
  }
}
