.primaryButton {
  background-color: var(--primary-color2);
  color: var(--primary-color1);
  border-radius: 1rem;
  padding: 0.5rem;
  border:  3px solid var(--primary-color2);
  cursor: pointer;
}

.primaryButton:hover{
  background-color: var(--primary-color1);
  color: white;
}
