.innerContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(20px, 1fr));
  grid-column-gap: 2rem;
}

@media screen and (max-width: 1440px) {
  /* For mobile phones: */
  .innerContainer {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 2rem;
  }
}

@media screen and (max-width: 900px) {
  /* For mobile phones: */
  .innerContainer {
    grid-template-columns: 1fr;
  }
}
