/*global css rules will be defined here*/

/*reset margin and padding*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}

#root {
  /* to be specified later*/
}

:root {
  /*color*/
  --primary-color1: #495e57;
  --primary-color2: #f4ce14;
  --secondary-color1: #ee9972;
  --secondary-color2: #fbdabb;
  --secondary-color3: #edefee;
  --secondary-color4: #333333;
  /*length*/
  --section-gutter: 20px;
  --section-margin: 75px;
}

/*global setting for fonts*/
/*Display Title*/
.display-title {
  font-family: "Markazi Text", serif;
  font-size: 64pt;
  font-weight: 500; /* Medium */
}

/*Sub Title*/
.sub-title {
  font-family: "Markazi Text", serif;
  font-size: 40pt;
  font-weight: 400; /* Regular */
}

/*Lead Text*/
.lead-text {
  font-family: "Karla", sans-serif;
  font-weight: 500; /* Medium */
  font-size: 18pt;
}

/*Section Title*/
.section-title {
  text-transform: uppercase;
  font-family: "Karla", sans-serif;
  font-weight: 800; /* extra bold */
  font-size: 20pt;
}
/*Section Categories*/
.section-text {
  font-family: "Karla", sans-serif;
  font-weight: 800; /* extra bold */
  font-size: 16pt;
}

/*Card Title*/
.card-title {
  font-family: "Karla", sans-serif;
  font-weight: 700; /* bold */
  font-size: 18pt;
}

/*Card Text*/
.card-text {
  font-family: "Karla", sans-serif;
  font-weight: 400; /* Regular */
  font-size: 16pt;
  line-height: 1.5;
}
/*Price Text*/
.price-text {
  font-family: "Karla", sans-serif;
  font-weight: 500; /* Medium */
  font-size: 16pt;
  color: var(--primary-color1);
}
