/*global css rules will be defined here*/

/*reset margin and padding*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}

#root {
  /* to be specified later*/
}

:root {
  /*color*/
  --primary-color1: #495e57;
  --primary-color2: #f4ce14;
  --secondary-color1: #ee9972;
  --secondary-color2: #fbdabb;
  --secondary-color3: #edefee;
  --secondary-color4: #333333;
  /*length*/
  --section-gutter: 20px;
  --section-margin: 75px;
  --group-margin: 20px;
}
