.gridBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
}

@media screen and (max-width: 1600px) {
  .gridBox {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1440px) {
  .gridBox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1080px) {
    .gridBox {
        grid-template-columns: repeat(1, 1fr);
    }
}
